.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    background: linear-gradient(180deg, #FDECEE, #E5F9EC	 90%);
}

.new-collections h1{
    color: #1F2937;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    width: 200px;
    border-radius: 10px;
    background-color:#369C91 ;
}

.collections{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}