.productDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productDisplay-left{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 65px 65px;
    line-height: 1.1;
}

.productDisplay-img-list{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.productDisplay-img-list img{
    height: 150px;
    width: auto;
}


.productDisplay-main-img{
    height: 650px;
    width: auto;
}

.productDisplay-right{
    margin: 0px 65px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDisplay-right h1{
    color: #1F2937;
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productDisplay-right-stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.productDisplay-right-prices{
   display: flex;
   flex-direction: row;
   margin: 40px 0px;
   font-size: 20px;
   gap: 10px;
}

.productDisplay-right-price-old{
    text-decoration: line-through;
        color: #6B7280;
}

.productDisplay-right-price-new{
    color: #1F2937;
    font-weight: 600
}

.productDisplay-right-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}
.productDisplay-right-sizes{
    display: flex;
    flex-direction: row; 
    gap: 15px;
    margin: 10px;
}

.productDisplay-right-sizes div{
    width: 50px;
    height: 50px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #D1D5DB;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.productDisplay-right-sizes div:hover{
    background-color: #369C91;
    color: white;
    transform: scale(1.1);
    font-size: large;
}

.productDisplay-right button{
    width : 200px;
    height: 60px;
    border-radius: 40px;
    background-color: #369C91;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    align-self: center;
}

.productDisplay-right button:hover{
    transform: scale(1.1);
}

.productDisplay-right-category{
    margin-top: 10px;
}

.productDisplay-right-category span{
    font-weight: 600;
}

