.cartItems{
    margin: 100px 170px ;

}

.cartItems hr{
    height: 3px;
    background-color: #369C91;
    border: 0;
}

.cartItems-format-main{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
}

.cart-items-format{
    font-size: 17px;
     font-weight: 500;
     color: #1F2937;
     border-bottom: 1px solid #369C91;
}

.carticon-product-icon{
    height: 140px;
    width: auto;
}

.carticon-remove-icon{
     width: 15px;
     height: auto;
     margin: 40px 0px;
     cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 40px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 220px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #369C91;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.cartitems-total button:hover{
    transform: scale(1.1);
}

.cartitems-promocode{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.cartitems-promocode p{
    color: #1F2937;
    font-weight: 600;
}

.cartitems-promobox{
    width: 520px ;
    margin-top: 15px;
    padding: 0px 20px;
    height: 60px;
    background: #eaeaea;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #1F2937;
    width: 400px;
    height: 60px
}

.cartitems-promobox button{
    width: 80px;
    height: 40px;
    background-color: #eaeaea;
    color: #369C91;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #369C91;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cartitems-promobox button:hover{
    background-color: #369C91;
    color: white
}