.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0px 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
    height: 100px;
    transition: all 0.5s ease-in-out;
}
.navbar .nav-logo{
    width: 200px;
    transition: all 0.5s ease-in-out;
}

.nav-profile{
    transition: all 0.5s ease-in-out;
}

.navbar> *{
    width: 300px;
}

.nav-child-1{
    text-align: left;
}
.nav-child-2{
    text-align: center;
}
.nav-child-2 h2{
    flex-wrap: 0;
}
.nav-child-3{
    text-align: right;
}

.nav-profile-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

}

.nav-profile {
  cursor: pointer;
}

.nav-logout-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  filter: brightness(0); /* Makes it black */
}

.nav-profile-group:hover .nav-logout-icon {
  opacity: 1;
  visibility: visible;
}

.nav-profile-group:hover .nav-profile{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.nav-logout-icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 0;
}

.nav-child-3{
    display: flex;
    justify-content: flex-end;
    padding: 0px 35px;
}

@media screen and (max-width: 720px) {
    .navbar{
        padding: 15px 20px;
    }
    
    .navbar .nav-logo{
    width: 100px;
    }
    
    .nav-profile{
        width: 60px;
        height: auto;
    }
}