.descriptionBox{
    padding: 120px 65px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}

.descriptionBox-navigator{
    display: flex;
}

.descriptionBox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
    padding: 10px 20px;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}

.fade{
    background: #FBFBFB;
    color: #6B7280;
}

.descriptionBox-description{
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #a1a1a1;
    padding: 50px 35px;
    line-height: 1.5;
}