.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
}

.popular h1{
    color: #1F2937;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    border-radius: 10px;
    background-color:#369C91 ;
}

.popular-item{
    margin: 50px;
    display: flex;
    gap: 30px;
}