.shop-category{
    padding-bottom: 100px;
    background: linear-gradient(180deg, #E5F9EC,#FDECEE , #E5F9EC);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopCategory-banner{
   display: block;
   margin: auto;
   width: 80%;
}

.shopCategory-indexSort{
    display: flex;
    margin: 30px 170px;
    justify-content: space-between;
    align-items: center
}

.shopCategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #369C91;
    cursor: pointer;
    font-weight: 600;
    color: #1F2937;
}

.shopCategory-indexSort p span{
    font-weight: 600;
}

.shopCategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    gap: 50px;
    justify-content: space-between;
}

.shopCategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 65px;
    border-radius: 35px;
    border: 1px solid #D1D5DB;
    background-color: #F9FAFB;
    color: #1F2937;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.shopCategory-loadmore:hover{
    transform: scale(1.1);
    background-color: #369C91;
    color: white;
    border: none;
}