.sidebar{
    max-width: 300px;
    width: 100%;
    min-height: calc(100vh - 101px);
    height: auto ;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 30px;
    box-shadow: 0px 1px 3px -2px #000;
    gap: 30px;
    transition: all 0.5s ease-in-out;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    gap: 40px;
}

.sidebar-item:hover{
    transform: scale(1.1);
}

.sidebar-item p{
    font-size: 18px;
    font-weight: 500;
    color: #1F2937;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 720px) {
    .sidebar{
        min-width: 100vw;
        min-height: auto;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 1px 3px -2px #000;
    }

    .sidebar-item{
        gap: 15px;
        padding: 10px 5px;
    }

    .sidebar-item p{
        font-size: 12px;
        font-weight: 500;
        color: #1F2937;
        
    }
}