.offers{
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
}

.offers-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left button{
    width : 250px;
    height: 70px;
    border-radius: 35px;
    background-color: #369C91;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.offers-left button:hover{
    transform: scale(1.1);
}

.offers-right{
    flex: 1;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-top: 50px;
}
