.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0px 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
    height: 100px;
    transition: all 0.5s ease-in-out;
}
.navbar .nav-logo{
    width: 200px;
    transition: all 0.5s ease-in-out;
}

.nav-profile{
    transition: all 0.5s ease-in-out;
}

.navbar> *{
    width: 300px;
}

.nav-child-1{
    text-align: left;
}
.nav-child-2{
    text-align: center;
}
.nav-child-2 h2{
    flex-wrap: 0;
}
.nav-child-3{
    text-align: right;
}

@media screen and (max-width: 720px) {
    .navbar{
        padding: 15px 20px;
    }
    
    .navbar .nav-logo{
    width: 100px;
    }
    
    .nav-profile{
        width: 60px;
        height: auto;
    }
}