.hero{
    min-height:calc(100vh -  90px);
    background: linear-gradient(180deg, #E5F9EC, #FDECEE 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 65px 150px;
    line-height: 1.1;
}

.hero-left h2{
    color: #1F2937;
    font-size: 26px;
    font-weight: 600;

}

.hero-left p{
    color: #1F2937;
    font-size: 72px ;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 310px;
   height: 70px;
   border-radius: 75px;
   margin-top: 30px;
   background-color: #369C91;
   color: white;
   font-size: 22px;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.3s ease-in-out
}
.hero-latest-btn-text{
    color: white;
}

.hero-latest-btn:hover{
    transform: scale(1.1);
}
.hero-latest-btn:active{
    transform: scale(1);
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 65px;
}

.hero-right img{
    height: 550px;
    width: auto;
}
