.newsLetter{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #E5F9EC, #E5F9EC 90%);
    gap: 30px;
}

.newsLetter h1{
    color: #1F2937;
    font-size: 55px;
    font-weight: 600;
}

.newsLetter p{
    color: #1F2937;
    font-size: 20px;
}

.newsLetter div{
    display: flex;
    align-items: center;
    align-items: space-between;
    background-color: #F9FAFB;
    width: 750px;
    height: 75px;
    border-radius: 80px;
    border: 1px solid #D1D5DB;
    padding: 0px 30px;
}

.newsLetter input{
    border: none;
    width: 100%;
    height: 100%;
    color: #1F2937;
    background-color: #F9FAFB;
    font-size: 20px;


}

.newsLetter input:active, input:focus{
    border: none;
    outline: none;
}

.newsLetter button{
    width : 150px;
    height: 50px;
    border-radius: 35px;
    color: #1F2937;
    background-color: #F9FAFB;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.newsLetter button:hover{
    transform: scale(1.1);
    color: #369C91;
}

.newsLetter button:active{
    transform: scale(1);
    color: #369C91;
}

